nav.nav a {
    text-decoration: none;
}

nav.nav a:hover {
    color: black;
    text-decoration: underline;
}

.col-md-3, .col-md-6 {
    
    transition: all .25s ease-out;
}

.col-md-3:hover, .col-md-6:hover {
    transform: scale(1.03);
    box-shadow: inset(5px 5px 10px);
}